<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
  
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="location='/dashboard'"> Dashboard</button>&nbsp;|&nbsp; 
    <button onclick="location='/customer'"> Customer</button>&nbsp;|&nbsp; 
    <button onclick="location='/product'"> Product</button>&nbsp;|&nbsp; 
    <button onclick="location='/about'"> About</button>&nbsp;|&nbsp; 
    <button onclick="location='/login'"> Logout</button>&nbsp;|&nbsp; 
    <hr/>
    <script>
        const doEdit = (id) =>{
            location = '/customer/edit/'+id;
        }
        const doDelete = async(id)=>{
            const response = await fetch('/api/customer', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({id}),//destructure
                })
                .then((response) => response.json())
                .then((data) => {
                    //console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            
            console.log('response:', response);
            if(response.result == "ok"){
                location = "/customer"
            }
        }
        const doSearch = function(){
        var searchText = document.getElementById("searchText").value;
        var selectField = document.getElementById("select").value;
        if(searchText == ""){
          location = "/customer";
        }else{
          location = "/customer/search/"+selectField+"/"+searchText;
        }
      }
    </script>
    <button onclick="location='/customer/add'">Add</button> | 
    <input id="searchText" type="text" name="" placeholder="search text"> 
    <select id="select">
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="address">Address</option>
      <option value="phone">Phone</option>
    </select>
    <button onclick="doSearch()">Search</button><br/><br/>


    <div class="page-data">
        <div class="data-table">
           <table border="1" cellpadding="7" cellspacing="7">
               <tr>
                   <th width="20px">No</th>
                   <th width="250px">Name</th>
                   <th width="220px">Email</th>
                   <th width="100px">Phone</th>
                   <th width="300px">Address</th>
                   <th>Edit</th>
                   <th>Delete</th>
               </tr>
               <% if(data.length){for(var i = 0;i < data.length;i++) { %>       
               <tr>
                   <td><%=data[i].id%></td>
                   <td><%=data[i].name%></td>
                   <td><%=data[i].email%></td>
                   <td><%=data[i].phone%></td>
                   <td><%=data[i].address%></td>
                   <td><button onclick="doEdit('<%=data[i].id%>');" >Edit</button></td>
                   <td><button onclick="doDelete('<%=data[i].id %>');">Delete</button></td>
               </tr>
           <% }
            }else{ %>
                <tr>
                   <td colspan="7">No customer found</td>
                </tr>
           <% } %> 
           </table>
        </div>
       </div>

  </body>
</html>
